<main role="main" class="container">

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("1.jpg", alt: "1", class: "d-block w-100", style: "margin: auto") %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-secondary">First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("2.jpg", alt: "2", class: "d-block w-100", style: "margin: auto") %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-secondary">Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("3.jpg", alt: "3", class: "d-block w-100", style: "margin: auto") %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-secondary">Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="jumbotron">
    <h3>Example</h3>
    <h6 class="lead">This example is a quick exercise to illustrate how the jumbotron works.</h6>
    <a class="btn btn-md btn-info" href="/bootstrap" role="button">View page »</a>
  </div>

</main>
